#canvas {
    float: left;
    height: 600px;
    margin: 2px;
    padding: 10px;
    border: 2px solid #AAA;
    overflow: hidden;
}

#canvas svg, #menu svg {
    overflow: visible;
}

#canvas g.linkHandle {
    cursor: alias;
}

#menu {
    float: left;
    height: 600px;
    margin: 2px;
    padding: 10px;
    border: 2px solid #AAA;
}
