@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/Roboto-Medium.ttf) format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto-Bold.ttf) format('ttf');
}
main {
  display: flex;
  position: fixed;
  bottom: 10px;
  top: 80px;
  width: 100%;
}
.canvas-panel {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.canvas-panel.work-area-panel {
  flex: 1;
}
.canvas-panel.menu-panel .panel-body {
  width: 202px;
}
.canvas-panel .panel-body {
  display: flex;
  flex: 1;
  position: relative;
}
.canvas {
  position: absolute;
  flex: 1;
  height: calc(100% - 30px);
  padding: 10px;
  border: 1px solid #E7E7E7;
  overflow: auto;
}
.canvas.menu {
  width: 172px;
}
.canvas.work-area {
  width: calc(100% - 30px);
  background-image: url('../img/grid.png');
  background-origin: content-box;
  background-attachment: local;
}
.canvas.work-area .linkHandle {
  cursor: alias;
}
.canvas svg {
  overflow: visible;
}
.btn:focus {
  outline: none;
}
