<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>History Maker</title>
    <link rel="stylesheet" type="text/css" href="./css/vendor-bundle.css">
    <link rel="stylesheet" type="text/css" href="./css/app.css">
    <!-- Add IntroJs styles -->
    <link rel="stylesheet" type="text/css" href="./css/introjs.css">
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" data-step="1" data-intro="This tool is called history-maker since you can reconstruct history with historical data. Given the elements of the historical thinking notation, you can visually construct your answers to questions related to historical problems and build deeper connections." data-position='right' href="./"><b>History Maker</b></a>
          </div>
	  
	  <div class="collapse navbar-collapse">
	    <data-step="4" data-intro="Buttons to load & save a file, clear the canvas and zoom in & out"  data-position='right'>
	    <button type="button" id="load-btn" class="btn btn-warning navbar-btn"> <i class="fa fa-folder-o"></i> Load </button>
            <button type="button" id="save-btn" class="btn btn-warning navbar-btn"><i class="fa fa-floppy-o"></i> Save</button>
            <button type="button" id="clear-btn" class="btn btn-danger navbar-btn"><i class="fa fa-trash-o"></i> Clear</button>
	    	      
            <a class="btn btn-small btn-success" href="javascript:void(0);" onclick="javascript:introJs().setOption('showProgress', false).start();">Help</a>
	    
        
            <div class="btn-group" role="group">
              <button type="button" id="zoom-out-btn" class="btn btn-primary navbar-btn" data-zoom="-">
                <i class="fa fa-search-minus"></i>
              </button>
              <button type="button" id="zoom-in-btn" class="btn btn-primary navbar-btn" data-zoom="+">
                <i class="fa fa-search-plus"></i>
              </button>
              
            </div>
          </div>
        </div>
    </nav>

    
    <main class="container-fluid">
        <div class="panel panel-primary canvas-panel work-area-panel">
            <div class="panel-heading">
                <h2 class="panel-title">Canvas</h2>

            </div>
            
            
            <div id="bottom-bar"></div>
            
            <div class="panel-body" data-step="3" data-intro="The canvas is the area where the history map will be created. You will have to drag the elements from the 'Elements' section over here.  Linking is done by clicking on an element and dragging a link to the next element. You have the option to describe the link and the elements when creating them."  data-position='right'>
                
                

                <div id="canvas" class="canvas work-area"></div>
                
            </div>
            <div id="top-bar"></div>


        </div>
        <div class="panel panel-primary canvas-panel menu-panel">
            <div class="panel-heading">
                <h2 class="panel-title">Elements</h2>
            </div>
            <div class="panel-body" data-step="2" data-intro="The elements of the historical thinking notation have labels. You will have to drag them from here to the 'Canvas' section (on the left) to build a history map. Scroll down to see the entire set."  data-position='left'>
                <div id="menu" class="canvas menu"></div>
            </div>
        </div>
    </main>


    <script type="text/template" id="template-question-panel">
        <div class="panel panel-default" data-step="5" data-intro="The learner will enter the historical problem in the question area.  Then, based on the diagram created, the learner will write their answer in plain text in the answer box"  data-position='top'>
            <div class="panel-body">
                <div class="col-md-3 has-warning">
                    <textarea placeholder="Question" rows="1" class="form-control question"></textarea>
                </div>
                <data-step=""4 data-intro="Buttons to load & save a file, clear the canvas and zoom in & out"  data-position='right'>
            </div>
        </div>
    </script>
    
    <script type="text/template" id="template-answer-panel">
        <div class="panel panel-default" data-step="5" data-intro="The learner will enter the historical problem in the question area.  Then, based on the diagram created, the learner will write their answer in plain text in the answer box"  data-position='top'>
        <div class="panel-body">
        <data-step=""4 data-intro="Buttons to load & save a file, clear the canvas and zoom in & out"  data-position='right'>
        <div class="col-md-9 has-success">
        <textarea placeholder="Answer" rows="1" class="form-control answer"></textarea>
        </div>
        </div>
        </div>
    </script>


    <script type="text/template" id="template-link-dialog">
        <form>
          <div class="form-group">
            <label>Link text</label>
            <input type="text" class="form-control" name="text">
          </div>

          <div class="form-group">
            <label>Link type</label>
            <select class="form-control" name="link-type">
            <% _.each(linkTypes, function (text, name) { %>
                <option value="<%= name %>"><%= text %></option>
            <% }); %>
            </select>
          </div>

          <div class="form-group">
            <label>Line style</label>
            <select class="form-control" name="line-style">
            <% _.each(lineStyles, function (text, name) { %>
                <option value="<%= name %>"><%= text %></option>
            <% }); %>
            </select>
          </div>
        </form>
    </script>
    <script type="text/template" id="template-file-load">
        <div class="form-group <%= formGroupClass %>">
            <label class="control-label"><%= label %></label>
            <input type="file" class="form-control">
        </div>
    </script>
    <script src="./js/vendor-bundle.js"></script>
    <script src="./js/app-bundle.js"></script>
    <script src="./js/intro.js"></script>

</body>

</html>
