<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>History Maker</title>
    <link rel="stylesheet" type="text/css" href="./css/vendor-bundle.css">
    <link rel="stylesheet" type="text/css" href="./css/app.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="./">History Maker</a>
            </div>

            <div class="collapse navbar-collapse">
                <button type="button" id="load-btn" class="btn btn-warning navbar-btn"><i class="fa fa-folder-o"></i> Load</button>
                <button type="button" id="save-btn" class="btn btn-warning navbar-btn"><i class="fa fa-floppy-o"></i> Save</button>
                <button type="button" id="clear-btn" class="btn btn-danger navbar-btn"><i class="fa fa-trash-o"></i> Clear</button>

                <div class="btn-group" role="group">
                    <button type="button" id="zoom-out-btn" class="btn btn-primary navbar-btn" data-zoom="-">
                        <i class="fa fa-search-minus"></i>
                    </button>
                    <button type="button" id="zoom-in-btn" class="btn btn-primary navbar-btn" data-zoom="+">
                        <i class="fa fa-search-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <main class="container-fluid">
        <div class="panel panel-primary canvas-panel work-area-panel">
            <div class="panel-heading">
                <h2 class="panel-title">Canvas</h2>
            </div>
            <div class="panel-body">
                <div id="canvas" class="canvas work-area"></div>
            </div>
        </div>
        <div class="panel panel-primary canvas-panel menu-panel">
            <div class="panel-heading">
                <h2 class="panel-title">Nodes</h2>
            </div>
            <div class="panel-body">
                <div id="menu" class="canvas menu"></div>
            </div>
        </div>
    </main>

    <script type="text/template" id="template-link-dialog">
        <form>
          <div class="form-group">
            <label>Link text</label>
            <input type="text" class="form-control" name="text">
          </div>

          <div class="form-group">
            <label>Link type</label>
            <select class="form-control" name="link-type">
            <% _.each(linkTypes, function (text, name) { %>
                <option value="<%= name %>"><%= text %></option>
            <% }); %>
            </select>
          </div>

          <div class="form-group">
            <label>Line style</label>
            <select class="form-control" name="line-style">
            <% _.each(lineStyles, function (text, name) { %>
                <option value="<%= name %>"><%= text %></option>
            <% }); %>
            </select>
          </div>
        </form>
    </script>
    <script type="text/template" id="template-file-load">
        <div class="form-group <%= formGroupClass %>">
            <label class="control-label"><%= label %></label>
            <input type="file" class="form-control">
        </div>
    </script>
    <script src="./js/vendor-bundle.js"></script>
    <script src="./js/app-bundle.js"></script>
</body>

</html>
